.tech-badge {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 0 0 0;

  &__icon {
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
