.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
