$primary: #32344f;
$border: #e4e4e4;
$light-colour: #a384ff;

.nav-container {
  padding: 10px 230px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // border-bottom: 2px solid $border;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-active {
  font-weight: bold;
}

.nav-li {
  text-decoration: none;
  padding: 15px 0 15px 45px;
  font-weight: bold;

  a,
  :visited,
  :link {
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary;
  }
}

.nav-li :hover {
  color: $light-colour;
  transition: 0.2s;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: bold;
  a {
    text-decoration: none;
    color: $primary;
  }
  // &:after {
  //   content: ".codes";
  //   color: $light-colour;
  // }
}

.codes {
  color: $light-colour;
}
